<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<h1 class="text-danger text-center">Product List</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<p class="btn btn-primal"><a th:href="@{/}">Back to list</a></p>
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Producer</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <tr th:each="product :${listSearch}">
        <td th:text="${product.getId()}"></td>
        <td th:text="${product.getProductName()}"></td>
        <td th:text="${product.getProductPrice()}"></td>
        <td th:text="${product.getProductDescribe()}"></td>
        <td th:text="${product.getProducer()}"></td>
        <td><a th:href="@{/update/{id}(id=${product.id})}">Update</a></td>
        <td> <button th:onclick="|infoToModal('${product.id}','${product.productName}')|"   class="btn btn-danger"
                     type="button" data-bs-toggle="modal" data-bs-target="#deleteModal">
            Delete
        </button></td>

        <td> <button th:onclick="|infoAllToModal('${product.id}','${product.productName}','${product.getProductPrice()}','${product.getProductDescribe()}','${product.getProducer()}')|"   class="btn btn-danger"
                     type="button" data-bs-toggle="modal" data-bs-target="#showModal">
            Info
        </button></td>
    </tr>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <form  action="/delete/"  method="get">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title text-danger" id="exampleModalLabel">Product</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body ">
                        <b>ID Product :</b>
                        <input type="text" readonly name="id" id="deleteId" class="form-control"><br>
                        <b>Product Name :</b>
                        <input type="text" readonly name="name" id="deleteName" class="form-control"><br>
                        <h3 class="text-danger">Are you sure want delete </h3>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" name="action" value="delete" >Yes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="modal fade" id="showModal" tabindex="-1" aria-labelledby="exampleModalLabel1"
         aria-hidden="true">
        <div class="modal-dialog">
            <form  action="/delete/"  method="get">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title text-danger" id="exampleModalLabel1">Product</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body ">
                        <b>ID Product :</b>
                        <input type="text" readonly name="id" id="showId" class="form-control"><br>
                        <b>Product Name :</b>
                        <input type="text" readonly name="name" id="showName" class="form-control"><br>
                        <b>Product Name :</b>
                        <input type="text" readonly name="name" id="showPrice" class="form-control"><br>
                        <b>Product Name :</b>
                        <input type="text" readonly name="name" id="showDescribe" class="form-control"><br>
                        <b>Product Name :</b>
                        <input type="text" readonly name="name" id="showProducer" class="form-control"><br>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</table>
<script>
    function infoToModal(id,name) {
        document.getElementById("deleteId").value = id;
        document.getElementById("deleteName").value = name;
    }
    function infoAllToModal(id,name,price,describe,producer) {
        document.getElementById("showId").value = id;
        document.getElementById("showName").value = name;
        document.getElementById("showPrice").value = name;
        document.getElementById("showDescribe").value = name;
        document.getElementById("showProducer").value = name;
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>