<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/bootstrap-5.0.2-dist/css/bootstrap.css">
  <title>Contract</title>
  <link rel="stylesheet" href="/static/bootstrap-5.0.2-dist/css/bootstrap.css">
  <style>
    body {
      background-image: url("https://images.freeimages.com/images/large-previews/a3b/website-rays-background-pattern-1637863.png");
    }

  </style>

</head>
<body>
<div th:replace="head::head"></div>
<div class="row">
  <form action="/contract/add" th:object="${contract}" method="post">

    <button type="button" data-bs-toggle="modal" class=" btn btn-success"
            data-bs-target="#createContract">
      Thêm mới
    </button>
    <div class="modal fade" id="createContract" tabindex="-1" aria-labelledby="exampleModalLabel2"
         aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel2">Contract</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p class="h3 text-warning fw-bold">Do you want Create Contract ?</p>
            <div>
              <div>
                <label class="form-label">Facility Name:</label>
                <select th:field="*{facility}" class="form-select">
                  <option th:each="facilitys:${facilityList}"
                          th:value="${facilitys.facilityId}"
                          th:text="${facilitys.facilityName}" class="form-control"></option>
                </select>
              </div>
              <div>
                <label class="form-label">Customer Name</label>
                <select th:field="*{customer}" class="form-select">
                  <option th:each="customers:${customerList}"
                          th:value="${customers.customerId}"
                          th:text="${customers.name}" class="form-control"></option>
                </select>
              </div>
              <div>
                <label class="form-label">Start Date</label>
                <input type="date" th:field="*{startDay}" class="form-control">
              </div>
              <div>
                <label class="form-label">End Date</label>
                <input type="date" th:field="*{endDay}" class="form-control">
              </div>

              <div>
                <label class="form-label">Deposit</label>
                <input type="text" th:field="*{deposit}" class="form-control">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="row container-fluid m-0">
  <div class="col-lg-12 ">
    <table class="table table-striped table-hover">
      <tr>
        <th>#</th>
        <th>Loại dịch vụ</th>
        <th>Tên khách hàng</th>
        <th>Ngày bắt đầu</th>
        <th>Ngày kết thúc</th>
        <th>Tiền cọc</th>
        <th>Tổng tiền</th>

        <th colspan="2">Dịch vụ đi kèm</th>
      </tr>


      <tr th:each="contract,status : ${contractPage}">

        <td th:text="${status.count + size*contractPage.number}"></td>
        <td th:text="${contract.getFacility()}"></td>
        <td th:text="${contract.getName()}"></td>
        <td th:text="${contract.getStart()}"></td>
        <td th:text="${contract.getEnd()}"></td>
        <td th:text="${contract.getDeposit()}"></td>
        <td th:text="${contract.getTotal()}"></td>
        <td >534554</td>
        <td>
          <a type="button" class="btn btn-primary"

          </a>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  th:attr="onclick=|showModalDelete('${contract.getId()}','${contract.getName()}')|">
            Xóa
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form action="/contract/delete" method="post">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Xác nhận</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body container-fluid">
          Bạn xác nhận muốn xóa khách hàng: <span id="delete_modal"></span>
          <input type="hidden" id="sendId" name="id">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
          <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Xóa</button>

        </div>
      </div>
    </form>
  </div>
</div>


<div class="d-flex justify-content-end ">
  <ul class="pagination">
    <li class="page-item disabled" th:if="${contractPage.number == 0}">
      <a class="page-link" href="">Previous</a>
    </li>
    <li class="page-item" th:if="${contractPage.number > 0}">
      <a class="page-link"
         th:href="@{/contract(page=${contractPage.number - 1}, sort=${sortValue})}">Previous</a>
    </li>
    <li class="page-item disabled">
      <a class="page-link" href=""><span th:text="${contractPage.number + 1}"></span> / <span
              th:text="${contractPage.totalPages}"></span></a>
    </li>
    <li class="page-item disabled" th:if="${contractPage.number >= contractPage.totalPages - 1}">
      <a class="page-link" href="">Next</a>
    </li>
    <li class="page-item" th:if="${contractPage.number  < contractPage.totalPages - 1}">
      <a class="page-link"
         th:href="@{/contract(page=${contractPage.number + 1})}">Next</a>
    </li>
  </ul>
</div>
<script>
  function showModalDelete(a, b) {
    document.getElementById("delete_modal").innerText = b;
    document.getElementById("sendId").value = a;

  }
</script>


<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>


<script>

  window.onload = function () {
    var message = document.getElementById("message").value;
    document.getElementById("modalAlertMes").innerText = message;
    if (message != "" && message != null) {
      $(document).ready(function () {
                $('#modalAlert').modal("show")
              }
      )
    }
  }
</script>
<div th:replace="foot::foot"></div>

<script src="/bootstrap-5.0.2-dist/js/bootstrap.js"></script>
<script src="/bootstrap-5.0.2-dist/jquery/jquery-3.6.0.min.js"></script>
</body>
</html>