<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap-5.0.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap-5.0.2-dist/css/bootstrap.css">
</head>
<body>
<div>
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container-fluid">

                <div class="collapse navbar-collapse" id="navbarExample01">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navbar -->

        <!-- Jumbotron -->
        <div class="p-5 text-center bg-light">
            <h1 class="mb-3 text-success">Form for Information</h1>


        </div>
        <!-- Jumbotron -->
    </header>
</div>

<div class="container">

<form action="/create" th:object="${formDto}" method="post">
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="form3Example1">First name</label>
                <input type="text" th:field="*{firstName}" id="form3Example1" class="form-control" />
                <div th:errors="*{firstName}" class="text-danger"></div>

            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="form3Example2">Last name</label>
                <input type="text" id="form3Example2" th:field="*{lastName}" class="form-control" />
                <div th:errors="*{lastName}" class="text-danger"></div>

            </div>
        </div>
    </div>

    <!-- Email input -->
    <div class="form-outline mb-4">
        <label class="form-label" for="form3Example3">phone</label>
        <input type="text" id="form3Example3" th:field="*{phone}" class="form-control" />
        <div th:errors="*{phone}" class="text-danger"></div>

    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
        <label class="form-label" for="form3Example4">Age</label>
        <input type="date" id="form3Example4" th:field="*{age}" class="form-control" />
        <div th:errors="*{age}" class="text-danger"></div>

    </div>

    <div class="form-outline mb-4">
        <input type="email" id="form3Example5" th:field="*{email}" class="form-control" />
        <label class="form-label" for="form3Example4">Email</label>
    </div>
    <!-- Checkbox -->
    <div class="form-check d-flex justify-content-center mb-4">
        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
        <label class="form-check-label" for="form2Example33">
            Subscribe to our newsletter
        </label>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Create</button>


    <!-- Register buttons -->
    <div class="text-center">
        <p>or sign up with:</p>
        <button type="button" class="btn btn-primary btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
        </button>

        <button type="button" class="btn btn-primary btn-floating mx-1">
            <i class="fab fa-google"></i>
        </button>

        <button type="button" class="btn btn-primary btn-floating mx-1">
            <i class="fab fa-twitter"></i>
        </button>

        <button type="button" class="btn btn-primary btn-floating mx-1">
            <i class="fab fa-github"></i>
        </button>
    </div>
</form>
</div>
<script src="/static/bootstrap-5.0.2-dist/jquery"></script>
<script src="/static/bootstrap-5.0.2-dist/js/bootstrap.js"></script>
</body>
</html>