<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link rel="stylesheet" href="/bootstrap-5.0.2-dist/css/bootstrap.css">
    <style>


    </style>
</head>

<body>
<div th:replace="head::head"></div>
<div class="container w-50 mt-4 p-2 mb-4" style="border: 1px solid grey; border-radius: 15px">
    <h3 align="center">Create New Trade</h3>
    <form class="row g-3" action="/customer/add" method="post" th:object="${trade}">

        <div class="col-md-12 " id="s22">
            <label for="tradeSerial" class="form-label">Trade Serial</label>
            <input type="text" class="form-control" id="tradeSerial" name="dayTrade" th:field="*{tradeSerial}">

        </div>

        <div class="col-md-12">
            <label class="form-label">Customer</label>
            <select name="customer_type_id" class="form-select" required th:field="*{customerId}">
                <option th:each="customers : ${customerList}" th:value="${customers.customerId}"
                        th:text="${customers.name}"></option>
            </select>
        </div>

        <div class="col-md-12 " id="s2">
            <label for="date" class="form-label">Trade day</label>
            <input type="date" class="form-control" id="date" name="dayTrade" th:field="*{tradeDay}">

        </div>
        <label class="form-label">Facility Type</label>
        <select name="facility_type" id="type" th:fied="*{facilityType}">
            <option value="House">Nhà Đất</option>
            <option value="Land">Đất</option>

        </select>
        <div>
            <label for="date" class="form-label">Bill</label>
            <input type="number" class="form-control" id="bill" name="dayTrade" th:field="*{bill}">
        </div>

        <div>
            <label for="Area" class="form-label">Area</label>
            <input type="number" class="form-control" id="Area" name="dayTrade" th:field="*{area}">
        </div>

        <div class="col-12 ">
            <button type="submit" class="btn btn-primary">Gửi</button>
        </div>
    </form>
</div>

<div th:replace="foot::foot"></div>

<script src="/bootstrap-5.0.2-dist/js/bootstrap.js"></script>
<script src="/static/bootstrap-5.0.2-dist/jquery/jquery-3.6.0.min.js"></script>
</body>
</html>