
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link rel="stylesheet" href="/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <style>


    </style>
</head>

<body>
<div class="container-fluid position-relative">
    <div class="row">
        <div class="col-lg-10 d-flex justify-content-center  position-absolute" style="top: 7%">
            <div class="row" style="width: 95%">
                <div class="col-lg-12 text-center"><h2>Add New Service</h2></div>
                <div class="col-lg-12">
                    <form class="row" action="/facility/edit" method="post" th:object="${facility}">
                        <input type="hidden" th:value="${facility.facilityType.idServiceType}" id="onload">
                        <div class="row pb-4">
                            <span>Service Type</span>
                            <label class="form-label"></label>
                            <select name="rent_type_id"  id="type_facility"  onchange="showInput(this.value)" class="form-select" th:field="*{facilityType}" >
                                <option th:each="serviceTypeChoice : ${serviceType}"
                                        th:value="${serviceTypeChoice.idServiceType}"
                                        th:text="${serviceTypeChoice.facilityTypeName}"
                                ></option>
                            </select>
                        </div>

                        <div class="col-lg-10 fw-bold text-dark">
                            <div class="row">
                                <div class="col-lg-6 ps-5 pe-5">
                                    <div class="row pb-4">
                                        <span>Name:</span><span class="text-danger"></span>
                                        <input type="text" name="name" class="form-control" placeholder="Service name"
                                               aria-label="Service name" th:field="${facility.facilityName}">
                                    </div>
                                    <div class="row pb-4">
                                        <span>Area:</span><span class="text-danger"></span>
                                        <input type="number" name="area" class="form-control" placeholder="Area"
                                               aria-label="Area" th:field="${facility.area}">
                                    </div>
                                    <div class="row pb-4">
                                        <span>Cost:</span><span class="text-danger"></span>
                                        <input type="number" name="cost" class="form-control" placeholder="Cost"
                                               aria-label="Cost" th:field="${facility.rentCost}">
                                    </div>
                                    <div class="row pb-4">
                                        <span>Max people</span><span class="text-danger"></span>
                                        <input type="number" name="people" class="form-control" placeholder="Max people"
                                               aria-label="Max people" th:field="${facility.maxPeople}">
                                    </div>
                                    <div class="row pb-4">
                                        <span>Rental type</span>
                                        <label class="form-label"></label>
                                        <select name="rent_type_id"  class="form-select" required th:field="*{rentalType}">
                                            <option th:each="rentalTypeChoice : ${rentalType}" th:value="${rentalTypeChoice.idRentalType}" th:text="${rentalTypeChoice.rentalTypeName}"> </option>
                                        </select>
                                    </div>
                                    <div class="row">
                                        <button type="submit" name="action" value="add" class="btn btn-primary">Add
                                        </button>
                                    </div>
                                </div>
                                <div class="col-lg-6 ps-5 pe-5">
                                    <div class="row pb-4" style="display: none" id="standard">
                                        <span>Room standard</span>
                                        <input id="standardInput" type="text" name="standard" class="form-control"
                                               placeholder="Room standard"
                                               aria-label="Room standard" th:field="*{roomStandar}">
                                    </div>
                                    <div class="row pb-4" style="display: none" id="description">
                                        <span>Description</span>
                                        <input id="descriptionInput" type="text" name="description" class="form-control"
                                               placeholder="Other convenience"
                                               aria-label="Other convenience" th:field="*{description}">
                                    </div>
                                    <div class="row pb-4" style="display: none" id="floors">
                                        <span>Number of floors</span><span class="text-danger"></span>
                                        <input id="floorsInput" type="number" name="floors" class="form-control"
                                               placeholder="Number of floors" aria-label="Number of floor"
                                               th:field="*{numberOfFloor}">
                                    </div>
                                    <div class="row pb-4" style="display: none" id="freeBlock">
                                        <span>Facility free</span><span class="text-danger"></span>
                                        <input id="freeInput" type="text" name="free" class="form-control"
                                               placeholder="Facility free" aria-label="Number of floor"
                                               th:field="*{freeService}">
                                    </div>
                                    <div class="row pb-4" style="display: none" id="poolArea">
                                        <span>Pool area:</span><span class="text-danger"></span>
                                        <input id="poolAreaInput" type="number" name="Pool" class="form-control"
                                               placeholder="Pool area" aria-label="Pool area"
                                               th:field="*{poolArea}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>-
        </div>
    </div>
</div>
<script>

    let code = document.getElementById("onload").value;
    window.onload = showInput(code);
    function showInput(code) {
        switch (code) {
            case "2":
                document.getElementById("standard").style.display = "block";
                document.getElementById("floors").style.display = "block";
                document.getElementById("description").style.display = "block";
                document.getElementById("freeBlock").style.display = "none";
                document.getElementById("poolArea").style.display = "block";

                document.getElementById("freeInput").value = "";
                console.log(2)
                break;
            case "1":
                document.getElementById("standard").style.display = "none";
                document.getElementById("floors").style.display = "none";
                document.getElementById("description").style.display = "none";
                document.getElementById("freeBlock").style.display = "block";
                document.getElementById("poolArea").style.display = "none";

                document.getElementById("poolAreaInput").value = "";
                document.getElementById("freeInput").value = "";
                console.log(1)

                break;
            case "3":
                document.getElementById("standard").style.display = "block";
                document.getElementById("floors").style.display = "block";
                document.getElementById("description").style.display = "block";
                document.getElementById("freeBlock").style.display = "none";
                document.getElementById("poolArea").style.display = "none";

                document.getElementById("standardInput").value = "";
                document.getElementById("floorsInput").value = "";
                document.getElementById("descriptionInput").value = "";
                document.getElementById("poolAreaInput").value = "";
                console.log(3)

                break;
        }
    }
</script>
<script src="bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
<script src="bootstrap-5.0.2-dist/jquery/jquery-3.6.0.min.js"></script>
</body>
</html>